
.grid {
  text-align: center;
}
.gridcontainer {
  display: flex;
  flex-wrap: wrap;
}
.imagecontainer {
  background-color: lightgray;
  text-align: center;
}

.imagee {
  width: 100px;
  height: 100px;
}


.four-image-container{
  margin-bottom:-95px;
}

.grid {
    text-align: center;
}


.image-width{
  height:100px;
}

.image-description-container{
margin-bottom: 35px;
display: flex;
flex-direction: column;
align-items: center;
margin-right:5px;
margin:35px;
}

.image-container{
  margin-bottom:15px;
}
.image-description-width{
  width:50px;
  font-size:10px;
}