.Trouble-logging-main-container {
display: flex;
justify-content: center;
flex-direction: column;


}
.Trouble-logging-in-container{
    min-width:150px;
    width:400px;
    
    
}
.forgot-password-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height:500px;
    border:lightgray 1px solid;
    width: 420px;
}
.forgot-password-input-container{
    border: 1px solid rgba(138, 136, 136, 0.3);
    width: 385px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 7vh;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.forgot_password_input_field{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(255, 255, 255);
    height: vh;
    border-radius: 4px;
    font-size: 12px;
    border-bottom: 1px solid rgba(138, 136, 136, 0.3);
    height: 55px;
    border-bottom: none ;
}
.login-link-button{
    background-color: #0d6efd;
    border:none;
    border-radius: 8px;
    padding:6px;
    width: 385px;
}

.forgot_password_lines {
    display: flex;
    justify-content: space-evenly;
  }
  .forgot_password_line1{
    width:130px;
    margin-right: 50px;
  }
  .forgot_password_line2{
    width:130px;
    margin-left: 50px;
  }
  .Back-to-login-button{
    background-color: #EBF4FA;
    border:none;
    border-radius: 8px;
    padding:6px;
    width: 385px;
    color:black;
  }

