.signupcontainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
   
}
::placeholder{
    color:gray;
}
.signup{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    border: 1px solid lightgray;
    max-width:440px;
    margin-top: 50px;
}
@media (width < 500px),(orientation:portrait) {
    .signup{
        margin-top: 50px;
        display: flex;
        justify-content: center;
       
    }
}
@media (height < 500px),(orientation:portrait) {
    .signup{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        height:100%;
       
    }
    .inputcontainer{
        height:100%;
    }
    input{
        height:100%;
    }
}
.main{
    max-width: 280px;
    

}
button{
    color:white
}
.horizontal{
    display: flex;
    justify-content: space-evenly;
}
.hrline{
    width:100px;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
}

.generaltext{
    color:rgb(160, 158, 158);
    font-weight:350 ;
}
.have-an-account{
    border:1px solid rgb(225, 220, 220);
    width:315px;
    display: flex;
    justify-content:center;

    
}
.signupinput{
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    border-radius: 4px;
    border: 1px solid rgba(138, 136, 136, 0.3);
}

.get-app{
    flex-direction: column;
}
.apptext{
    text-align: center;
}
.get-app-stores{
    max-width:150px;
    height:50px;
}
.footersection{
    display: flex;
    justify-content: space-between;
    width: 500px;
    color: rgb(152, 148, 148);
}

.signup-message-error{
    color: red;
    margin-top:-4px;
  }
  .signup-error-alignment{
    width:300px;
    padding-left:30px;
    font-size: 13px;
    display: flex;
    justify-content:flex-start;
    margin-left:3px;
    margin-left:-30px;
  }

  .otp{
    display: flex;
    flex-direction: row;
}

.error{
    color: red;
    margin-top:6px;
  }

  .button{
    color: "white"; 
    border-radius: 20px;
    width: 50px;
    height: 18px;
    font-size: 10px;
    margin-left: -80px;
    margin-top:8px;
    text-align: center;
    background-color: #0d6efd;

  }
  .signup-button{
    background-color: #0d6efd;
    border:none;
    border-radius: 8px;
    padding:10px;
    font-size:12px;
  }

  .otpContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: auto;
  }
.otpInput{
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    border-radius: 4px;
    border: 1px solid rgba(138, 136, 136, 0.3);
    width: 500px;
}
.otp{
    margin-top: 5px;
    width:100px;
    border:none;
    background-color: white;
    
}
.input-otp-container{
border: solid rgba(138, 136, 136, 0.3);
border-width:1px;
border-radius:4px;
width:500px;
display: flex;
justify-content:space-between;
height:5vh;

}